<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/pyspark-joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Extend Column').getOrCreate()

In [3]:
data1= [[ "John",28, "New York"],["Sarah" ,24 , "London"],["Michael", 30 , "Sydney"]]

In [4]:
df1 = spark.createDataFrame(data1, ["Name", "Age", "City"])
df1.show()

+-------+---+--------+
|   Name|Age|    City|
+-------+---+--------+
|   John| 28|New York|
|  Sarah| 24|  London|
|Michael| 30|  Sydney|
+-------+---+--------+

In [5]:
data2 = [["New York" , "USA"],["London" , "UK"],["Sydney" , "Australia"]]

In [6]:
df2 = spark.createDataFrame(data2, ["City", "Country"])
df2.show()

+--------+---------+
|    City|  Country|
+--------+---------+
|New York|      USA|
|  London|       UK|
|  Sydney|Australia|
+--------+---------+

# Join

In [7]:
Expected_output = df1.join(df2, on="City", how="left").select("Name","Age","City","Country")
Expected_output.show()

+-------+---+--------+---------+
|   Name|Age|    City|  Country|
+-------+---+--------+---------+
|   John| 28|New York|      USA|
|  Sarah| 24|  London|       UK|
|Michael| 30|  Sydney|Australia|
+-------+---+--------+---------+