<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/Salary_Difference_group_by_department.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.window import Window as W
from pyspark.sql.functions import max, col,
from pyspark.sql import functions as F

# Create Spark session
spark = SparkSession.builder.appName("DepartmentData").getOrCreate()

# Sample data
data = [
    (1, "HR", 55000, "ab23h7fcs4"),
    (2, "IT", 72000, "xk87j2qwe9"),
    (3, "Engineering", 95000, "mz56v1pkl3"),
    (4, "HR", 63000, "ql29u8zxy2"),
    (5, "IT", 88000, "nj31e5ras8"),
    (6, "Engineering", 60000, "wd94k6mnb1")
]

# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("department", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("zip_code", StringType(), True)
])

# Create DataFrame
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()

+---+-----------+------+----------+
| id| department|salary|  zip_code|
+---+-----------+------+----------+
|  1|         HR| 55000|ab23h7fcs4|
|  2|         IT| 72000|xk87j2qwe9|
|  3|Engineering| 95000|mz56v1pkl3|
|  4|         HR| 63000|ql29u8zxy2|
|  5|         IT| 88000|nj31e5ras8|
|  6|Engineering| 60000|wd94k6mnb1|
+---+-----------+------+----------+

# Salary Difference group by department

In [20]:
window_spec = W.partitionBy("department")
df =df.withColumn("Salary_differ", F.max("salary").over(window_spec) - F.col("salary"))
df.show()

+---+-----------+------+----------+-------------+
| id| department|salary|  zip_code|Salary_differ|
+---+-----------+------+----------+-------------+
|  3|Engineering| 95000|mz56v1pkl3|            0|
|  6|Engineering| 60000|wd94k6mnb1|        35000|
|  1|         HR| 55000|ab23h7fcs4|         8000|
|  4|         HR| 63000|ql29u8zxy2|            0|
|  2|         IT| 72000|xk87j2qwe9|        16000|
|  5|         IT| 88000|nj31e5ras8|            0|
+---+-----------+------+----------+-------------+