# Sort a DataFrame based on one or multiple columns in PySpark.

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import asc, desc

In [18]:
spark = SparkSession.builder.appName('sort').getOrCreate()

In [19]:
data = [ ('Alice', 34, 'New York'), ('Bob', 45, 'San Francisco'),
 ('Catherine', 29, 'Los Angeles'), ('Daniel', 35, 'New York'),
  ('Eva', 45, 'Los Angeles') ]

In [20]:
columns = ['Name', 'Age', 'City']

In [21]:
df = spark.createDataFrame(data, columns)
df.show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|    Alice| 34|     New York|
|      Bob| 45|San Francisco|
|Catherine| 29|  Los Angeles|
|   Daniel| 35|     New York|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [22]:
df.sort('Age',ascending = True).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [23]:
df.sort('Age',ascending = False).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
|   Daniel| 35|     New York|
|    Alice| 34|     New York|
|Catherine| 29|  Los Angeles|
+---------+---+-------------+

In [29]:
df.orderBy(asc(df.Age)).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [24]:
df.sort(asc(df.Age)).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [16]:
df.sort(desc(df.Age)).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
|   Daniel| 35|     New York|
|    Alice| 34|     New York|
|Catherine| 29|  Los Angeles|
+---------+---+-------------+

In [8]:
df.orderBy(df.Age.asc()).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [25]:
df.orderBy(df.Age.desc()).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
|   Daniel| 35|     New York|
|    Alice| 34|     New York|
|Catherine| 29|  Los Angeles|
+---------+---+-------------+

In [27]:
df.orderBy(df.Age.asc(),df.Name.asc()).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+

In [28]:
df.orderBy(df.Age.desc(),df.Name.desc()).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|      Eva| 45|  Los Angeles|
|      Bob| 45|San Francisco|
|   Daniel| 35|     New York|
|    Alice| 34|     New York|
|Catherine| 29|  Los Angeles|
+---------+---+-------------+

In [30]:
df.orderBy(df.Age,ascending = True).show()

+---------+---+-------------+
|     Name|Age|         City|
+---------+---+-------------+
|Catherine| 29|  Los Angeles|
|    Alice| 34|     New York|
|   Daniel| 35|     New York|
|      Bob| 45|San Francisco|
|      Eva| 45|  Los Angeles|
+---------+---+-------------+