<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/sum_the_numerics_in_zipcodes_into_new_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import udf

# Create Spark session
spark = SparkSession.builder.appName("DepartmentData").getOrCreate()

# Sample data
data = [
    (1, "HR", 55000, "ab23h7fcs4"),
    (2, "IT", 72000, "xk87j2qwe9"),
    (3, "Engineering", 95000, "mz56v1pkl3"),
    (4, "HR", 63000, "ql29u8zxy2"),
    (5, "IT", 88000, "nj31e5ras8"),
    (6, "Engineering", 60000, "wd94k6mnb1")
]

# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("department", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("zip_code", StringType(), True)
])

# Create DataFrame
df = spark.createDataFrame(data, schema)

# Show the DataFrame
df.show()

+---+-----------+------+----------+
| id| department|salary|  zip_code|
+---+-----------+------+----------+
|  1|         HR| 55000|ab23h7fcs4|
|  2|         IT| 72000|xk87j2qwe9|
|  3|Engineering| 95000|mz56v1pkl3|
|  4|         HR| 63000|ql29u8zxy2|
|  5|         IT| 88000|nj31e5ras8|
|  6|Engineering| 60000|wd94k6mnb1|
+---+-----------+------+----------+

In [4]:
#user defined function for zip code transformations
def extract_nums_zipcode(zipcode):
  zipcode = list(zipcode)
  sum = 0
  for i in zipcode:
    if i.isdigit(): sum += int(i)
  return sum
udf_extract_nums_zipcode = udf(extract_nums_zipcode, IntegerType())

#Adding new zip code

In [5]:
df = df.withColumn("New_zip_code", udf_extract_nums_zipcode("zip_code"))
df.show()

+---+-----------+------+----------+------------+
| id| department|salary|  zip_code|New_zip_code|
+---+-----------+------+----------+------------+
|  1|         HR| 55000|ab23h7fcs4|          16|
|  2|         IT| 72000|xk87j2qwe9|          26|
|  3|Engineering| 95000|mz56v1pkl3|          15|
|  4|         HR| 63000|ql29u8zxy2|          21|
|  5|         IT| 88000|nj31e5ras8|          17|
|  6|Engineering| 60000|wd94k6mnb1|          20|
+---+-----------+------+----------+------------+