<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/30%20days%20challenge%20by%20Seekho%20Big%20data%20institute/top_N_words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Top N words which More Count').getOrCreate()

## Read text file

In [32]:
text_data = spark.read.text("/content/words")

In [33]:
text_data.show()

+--------------------+
|               value|
+--------------------+
|         Hello world|
|  Hello from Pyspark|
|  PySpark is awesome|
| Hello Pyspark world|
|this is suhash ke...|
|this is written b...|
+--------------------+

## convert the words into the dataframe

In [34]:
from pyspark.sql.functions import *
words_df = text_data.select(explode(split(col('value'),' ')).alias("words"))

In [35]:
words_df.show()

+-------+
|  words|
+-------+
|  Hello|
|  world|
|  Hello|
|   from|
|Pyspark|
|PySpark|
|     is|
|awesome|
|  Hello|
|Pyspark|
|  world|
|   this|
|     is|
| suhash|
| kesari|
|   this|
|     is|
|written|
|     by|
| suhash|
+-------+
only showing top 20 rows

## convert all the words to lower case

In [36]:
words_df = words_df.withColumn("words",lower(col("words")))

In [37]:
words_df.show()

+-------+
|  words|
+-------+
|  hello|
|  world|
|  hello|
|   from|
|pyspark|
|pyspark|
|     is|
|awesome|
|  hello|
|pyspark|
|  world|
|   this|
|     is|
| suhash|
| kesari|
|   this|
|     is|
|written|
|     by|
| suhash|
+-------+
only showing top 20 rows

## count the words by using group by

In [38]:
counts_df = words_df.groupBy("words").agg(count(col('words')).alias('counts'))

In [39]:
counts_df.show()

+-----------+------+
|      words|counts|
+-----------+------+
|   graduate|     1|
|     suhash|     2|
|         by|     1|
|      hello|     3|
|         is|     3|
|     kesari|     1|
|    pyspark|     3|
|       from|     1|
|      world|     2|
|         an|     1|
|    awesome|     1|
|engineering|     1|
|       this|     2|
|    written|     1|
+-----------+------+

## sort the counts in descending order to find top

In [40]:
sorted_df = counts_df.orderBy(desc('counts'))

In [41]:
sorted_df.show()

+-----------+------+
|      words|counts|
+-----------+------+
|      hello|     3|
|         is|     3|
|    pyspark|     3|
|     suhash|     2|
|      world|     2|
|       this|     2|
|   graduate|     1|
|         by|     1|
|     kesari|     1|
|       from|     1|
|         an|     1|
|    awesome|     1|
|engineering|     1|
|    written|     1|
+-----------+------+

In [42]:
top_n = 9
sorted_df.limit(top_n).show()

+--------+------+
|   words|counts|
+--------+------+
|   hello|     3|
|      is|     3|
| pyspark|     3|
|  suhash|     2|
|   world|     2|
|    this|     2|
|graduate|     1|
|      by|     1|
|  kesari|     1|
+--------+------+

## Once Again Practice

In [43]:
text_data = spark.read.text("/content/words")
words_df = text_data.select(explode(split(col('value'),' ')).alias("words"))
words_df = words_df.withColumn("words",lower(col('words')))
counts_df = words_df.groupBy("words").agg(count(col('words')).alias('counts'))
sorted_df = counts_df.orderBy(desc(col('counts')))
top_n = 9
sorted_df.limit(top_n).show()

+--------+------+
|   words|counts|
+--------+------+
|   hello|     3|
|      is|     3|
| pyspark|     3|
|  suhash|     2|
|   world|     2|
|    this|     2|
|graduate|     1|
|      by|     1|
|  kesari|     1|
+--------+------+