<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/30%20days%20challenge%20by%20Seekho%20Big%20data%20institute/2.%20Calculate_the_average_salary_and_count_of_employees_for_each_department.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **importing dependencies**

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,count,avg
spark  = SparkSession.builder.master('local[*]').appName("Calculate the average salary and count of employees for each department").getOrCreate()

In [2]:
data = [
 ("Sales", 5000, "John"),
 ("Sales", 6000, "Doe"),
 ("HR", 7000, "Jane"),
 ("HR", 8000, "Alice"),
 ("IT", 4500, "Bob"),
 ("IT", 5500, "Charlie"),
]

## **Creating Dataframe**

In [6]:
employees_df = spark.createDataFrame(data, ['Departments','Salary','Name'])
employees_df.show()

+-----------+------+-------+
|Departments|Salary|   Name|
+-----------+------+-------+
|      Sales|  5000|   John|
|      Sales|  6000|    Doe|
|         HR|  7000|   Jane|
|         HR|  8000|  Alice|
|         IT|  4500|    Bob|
|         IT|  5500|Charlie|
+-----------+------+-------+

## **Calculating AVG Salary and Count of Employees by Department**

In [8]:
avg_count_by_dept_df = employees_df.groupBy('Departments').agg(avg(col('Salary')).alias("Average Salary by Dept"),count(col('Name')).alias("Count of Employees"))
avg_count_by_dept_df.show()

+-----------+----------------------+------------------+
|Departments|Average Salary by Dept|Count of Employees|
+-----------+----------------------+------------------+
|      Sales|                5500.0|                 2|
|         HR|                7500.0|                 2|
|         IT|                5000.0|                 2|
+-----------+----------------------+------------------+