<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/30%20days%20challenge%20by%20Seekho%20Big%20data%20institute/4.%20filter_rows_where_salary_is_greater_than_5000_and_select_only_the_name_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("Filtering row using condition").getOrCreate()

In [2]:
data = [
    (1,"Alice",4000),
    (2,"Bob",6000),
    (3,"Charlie",5500),
    (4,"David",4500),
    (5,"Eve",7000)
]

In [3]:
columns = ["ID","Name","Salary"]

## **Create Dataframe**

In [4]:
df = spark.createDataFrame(data,columns)
df.show()

+---+-------+------+
| ID|   Name|Salary|
+---+-------+------+
|  1|  Alice|  4000|
|  2|    Bob|  6000|
|  3|Charlie|  5500|
|  4|  David|  4500|
|  5|    Eve|  7000|
+---+-------+------+

# **Filter rows where salary is greater than 5000 and select only the name column**

In [5]:
df.filter(df.Salary>5000).select(df.Name).show()

+-------+
|   Name|
+-------+
|    Bob|
|Charlie|
|    Eve|
+-------+

In [6]:
spark.stop()