<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/30%20days%20challenge%20by%20Seekho%20Big%20data%20institute/6.%20Adding_%22new_column%22_to_the_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.master("local[*]").appName("Add new column to dataframe").getOrCreate()

## **Data**

In [12]:
data = [("John", 28, "New York"), ("Sarah", 24, "London"), ("Michael", 30, "Sydney")]
columns = ["Name", "Age", "City"]

## **Create Dataframe**

In [13]:
people_df = spark.createDataFrame(data,columns)
people_df.show()

+-------+---+--------+
|   Name|Age|    City|
+-------+---+--------+
|   John| 28|New York|
|  Sarah| 24|  London|
|Michael| 30|  Sydney|
+-------+---+--------+

## **Mappings**

In [14]:
mappings = (("New York", "USA"),("London", "UK"),("Sydney", "Australia"))

In [15]:
city_and_countries_df = spark.createDataFrame(mappings,["City","Country"])
city_and_countries_df.show()

+--------+---------+
|    City|  Country|
+--------+---------+
|New York|      USA|
|  London|       UK|
|  Sydney|Australia|
+--------+---------+

## **Adding New Column Country**

In [16]:
people_df = people_df.join(city_and_countries_df,on = "City", how = "left").select("Name","Age","City","Country")
people_df.show()

+-------+---+--------+---------+
|   Name|Age|    City|  Country|
+-------+---+--------+---------+
|   John| 28|New York|      USA|
|  Sarah| 24|  London|       UK|
|Michael| 30|  Sydney|Australia|
+-------+---+--------+---------+

In [17]:
spark.stop()