<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/30%20days%20challenge%20by%20Seekho%20Big%20data%20institute/7.%20How_to_Join_the_two_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("Join the Dataframes").getOrCreate()

In [7]:
# Employee data
employees_data = [
    (1, "Alice", 101),
    (2, "Bob", 102),
    (3, "Carol", 103),
    (4, "Dave", 101),
    (5, "Eve", 104)
]
employees_columns = ["emp_id", "name", "dept_id"]

employees_df = spark.createDataFrame(employees_data, employees_columns)

# Department data
departments_data = [
    (101, "HR"),
    (102, "Engineering"),
    (103, "Marketing"),
    (105, "Sales")
]
departments_columns = ["dept_id", "dept_name"]

## **Creating Dataframes**

In [8]:
employees_df = spark.createDataFrame(employees_data, employees_columns)
employees_df.show()

+------+-----+-------+
|emp_id| name|dept_id|
+------+-----+-------+
|     1|Alice|    101|
|     2|  Bob|    102|
|     3|Carol|    103|
|     4| Dave|    101|
|     5|  Eve|    104|
+------+-----+-------+

In [9]:
departments_df = spark.createDataFrame(departments_data, departments_columns)
departments_df.show()

+-------+-----------+
|dept_id|  dept_name|
+-------+-----------+
|    101|         HR|
|    102|Engineering|
|    103|  Marketing|
|    105|      Sales|
+-------+-----------+

## **Inner join the table**

In [10]:
final_df = employees_df.join(departments_df,on = 'dept_id', how='inner').select('emp_id','name','dept_name')
final_df.show()

+------+-----+-----------+
|emp_id| name|  dept_name|
+------+-----+-----------+
|     1|Alice|         HR|
|     4| Dave|         HR|
|     2|  Bob|Engineering|
|     3|Carol|  Marketing|
+------+-----+-----------+

In [11]:
spark.stop()