<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/30%20days%20challenge%20by%20Seekho%20Big%20data%20institute/8.%20get_all_employee_details%2C_including_the_department_name_using_left_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("Join the Dataframes").getOrCreate()

In [2]:
# Employee data
employees_data = [
    (1, "Alice", 10),
    (2, "Bob", 20),
    (3, "Charlie", None),
    (4, "David", 30),
    (5, "Edward", 40)
]
employees_columns = ["emp_id", "name", "dept_id"]

employees_df = spark.createDataFrame(employees_data, employees_columns)

# Department data
departments_data = [
    (10, "HR"),
    (20, "Finance"),
    (30, "Marketing"),
]
departments_columns = ["dept_id", "dept_name"]

## **Creating Dataframes**

In [3]:
employees_df = spark.createDataFrame(employees_data, employees_columns)
employees_df.show()

+------+-------+-------+
|emp_id|   name|dept_id|
+------+-------+-------+
|     1|  Alice|     10|
|     2|    Bob|     20|
|     3|Charlie|   NULL|
|     4|  David|     30|
|     5| Edward|     40|
+------+-------+-------+

In [4]:
departments_df = spark.createDataFrame(departments_data, departments_columns)
departments_df.show()

+-------+---------+
|dept_id|dept_name|
+-------+---------+
|     10|       HR|
|     20|  Finance|
|     30|Marketing|
+-------+---------+

## **You need to perform a left join on employees with departments to get all employee details, including the department name.If an employee doesn't have a department, their department name should be null.**

In [5]:
final_df = employees_df.join(departments_df,on = 'dept_id', how ='left').select('emp_id','name','dept_id','dept_name')
final_df.show()

+------+-------+-------+---------+
|emp_id|   name|dept_id|dept_name|
+------+-------+-------+---------+
|     1|  Alice|     10|       HR|
|     2|    Bob|     20|  Finance|
|     3|Charlie|   NULL|     NULL|
|     4|  David|     30|Marketing|
|     5| Edward|     40|     NULL|
+------+-------+-------+---------+

In [6]:
spark.stop()