<a href="https://colab.research.google.com/github/RajaSuhashKesari/MyDataEngineeringPractices/blob/main/Pyspark%20Programs/30%20days%20challenge%20by%20Seekho%20Big%20data%20institute/9.%20get%20all%20customers%20and%20orders%20data%20using%20right%20join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("JoinExample").getOrCreate()

## Orders Dataset:
### Contains order details such as order_id, customer_id, and order_status.

In [4]:
orders_data = [(1, 101, "Delivered"),
               (2, 102, "Pending"),
               (3, 103, "Shipped"),
               (4, 101, "Cancelled")]
orders_df = spark.createDataFrame(orders_data, ["order_id", "customer_id", "order_status"])

## Customers Dataset:
### Contains information about customers like customer_id, customer_name, and customer_city.

In [5]:
customers_data = [(101, "Alice", "New York"),
                  (102, "Bob", "Los Angeles"),
                  (103, "Charlie", "Chicago"),
                  (104, "David", "Houston")]
customers_df = spark.createDataFrame(customers_data, ["customer_id", "customer_name", "customer_city"])

## **our task is to generate a report that contains all customer information,even if they have not placed any orders. Use a right join to solve this problem,so that we get all customers, including those without orders.**

In [6]:
customer_orders_report = orders_df.join(customers_df, on="customer_id", how="right")
customer_orders_report.show()

+-----------+--------+------------+-------------+-------------+
|customer_id|order_id|order_status|customer_name|customer_city|
+-----------+--------+------------+-------------+-------------+
|        101|       4|   Cancelled|        Alice|     New York|
|        101|       1|   Delivered|        Alice|     New York|
|        102|       2|     Pending|          Bob|  Los Angeles|
|        103|       3|     Shipped|      Charlie|      Chicago|
|        104|    NULL|        NULL|        David|      Houston|
+-----------+--------+------------+-------------+-------------+

In [7]:
spark.stop()